<div class="error">
  <h2>Aw, snap! Looks like this page doesn't exist :(</h1>
  <img class="pure-img" src="https://media2.giphy.com/media/iqzp1pBJtNQUU/200.gif">
  <p>If you typed this link manually, please double-check your spelling or
    click on one of the links at the top ^^^ to access the page you were looking for.
  </p>
</div>
