<div class="header">
  <h1 class="header-title"><a href="/">Vote <span class="header-title-yes">YES</span> on <span class="nowrap">Measure C<span></a></h1>
</div>
<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<nav class="pure-menu pure-menu-horizontal header-nav">
  {{> nav}}
  <label class="nav-trigger-label" for="nav-trigger"></label>
</nav>
