<ul class="pure-menu-list">
    <li class="pure-menu-item {{#equal pageName 'index'}}pure-menu-selected{{/equal}}"><a href="/" class="pure-menu-link">The Issue</a></li>
    <!-- <li class="pure-menu-item {{#equal pageName 'sample-ballot'}}pure-menu-selected{{/equal}}"><a href="/sample-ballot/" class="pure-menu-link">Sample Ballot</a></li>
    <li class="pure-menu-item {{#equal pageName 'opinions'}}pure-menu-selected{{/equal}}"><a href="/opinions/" class="pure-menu-link">Opinions</a></li> -->
    <li class="pure-menu-item {{#equal pageName 'where-to-vote'}}pure-menu-selected{{/equal}}"><a href="/where-to-vote/" class="pure-menu-link">Where to Vote</a></li>
    <li class="pure-menu-item {{#equal pageName 'yard-sign'}}pure-menu-selected{{/equal}}"><a href="/yard-sign/" class="pure-menu-link">Get a Yard Sign</a></li>
</ul>
