.social-sidebar {
  float: left;
  position: sticky;
  position: -webkit-sticky;
  top: 25vh;
  margin-top: 14em;
  z-index: 900;
  transition: opacity 0.2s;

  & ul.shareaholic-share-buttons li.shareaholic-share-button .shareaholic-share-button-container {
    &:hover {
      opacity: 1 !important;
    }

    i.shareaholic-service-icon {
      background-color: transparent !important;
      font-size: 32px;
      height: 50px;
      width: 50px;

      &:hover {
        color: darken(@brand-color, 5%) !important;
      }

      &:before {
        filter: drop-shadow(0 0 1px white) drop-shadow(0 0 5px white) drop-shadow(0 0 0 white);
      }
    }
  }

  @media (max-width: 730px) {
    opacity: 0;
    visibility: hidden;
  }

  @media (max-width: 700px) {
   display: none;
  }
}
