<div class="content">
  <section class="content-section">
      <p class="section-text">
        <em>Public Measure C is located on the bottom of the back side</em> of your Nov 8, 2016 general election ballot
        (Iowa City precincts only):
      </p>
  </section>
</div>
<div class="sample-ballot">
  <input type="radio" id="sample-ballot-front-switch" name="sample-ballot-switcher" class="sample-ballot-switcher sample-ballot-front-switch" checked=""/>
  <input type="radio" id="sample-ballot-back-switch" name="sample-ballot-switcher" class="sample-ballot-switcher sample-ballot-back-switch" />
  <ul class="sample-ballot-tabs">
      <li class="sample-ballot-tab"><label for="sample-ballot-front-switch" class="sample-ballot-text-label sample-ballot-label-front">Front</label></li>
      <li class="sample-ballot-tab"><label for="sample-ballot-back-switch" class="sample-ballot-text-label sample-ballot-label-back">Back</label></li>
  </ul>
  <div class="sample-ballot-card">
    <label for="sample-ballot-back-switch" class="sample-ballot-label sample-ballot-back-label"><i class="sample-ballot-front"></i></label>
    <label for="sample-ballot-front-switch" class="sample-ballot-label sample-ballot-front-label"><i class="sample-ballot-back"></i></label>
  </div>
</div>
<div class="content">
  <section class="content-section">
      <p class="section-text">
        Your 'YES' vote will <a href="/#why-is-this-important">strengthen our First Amendment right to petition local goverment</a>.
      </p>
  </section>
</div>
