<div class="content">
  <section class="content-section">
      <h2 class="section-header">What is Public Measure C?</h2>
      <p class="section-text">
        Public Measure C is a proposal to <em>reduce the number of signatures required
        for a citizen petition in Iowa City.</em>
      </p>

      <p class="section-text">
        Iowa City’s current petition process for amending the City Code imposes signature
        count requirements that are much higher than what’s prescribed by the Iowa Code.
        Public Measure C brings these requirements in line with
        <a href="http://coolice.legis.iowa.gov/Cool-ICE/default.asp?category=billinfo&service=IowaCode&input=362.4" target="_blank">Iowa Code § 362.4</a>
         as follows (<span class="underline">underline</span> denotes additions;
         <span class="strikethrough">strikethrough</span> denotes deletions):
      </p>
      <div class="citation">
        <p><strong>Section 7.03. Petitions; Revocation Of Signatures.</strong></p>
        <p>A. Number Of Signatures. Initiative and referendum petitions must be signed by
          eligible electors equal in number to at least <span class="strikethrough">twenty-­five
          percent (25%)</span> <span class="underline">ten percent</span> of the number of persons
          who voted in the last regular city election, but such signatures of eligible electors
          shall be no fewer than <span class="strikethrough">three thousand six hundred</span>
          <span class="underline">ten</span>.
        </div>
  </section>
  <section class="content-section">
      <h2 class="section-header">Why is this important?</h2>
      <p class="section-text">
        Essentially, <em>Measure C is about strengthening our right to petition local government.</em>
      </p>

      <p class="section-text">
        Citizen initiatives and referendums provide an important “direct democracy” counter-balance
        to the everyday rule of the City Council.
      </p>

      <p class="section-text">
        However, <em>the current process requires petitioners to spend anywhere between 1,000 to 1,500
        hours amassing signatures,</em> simply to bring an issue for discussion before the City Council
        and/or the voters. <em>That’s 6 to 9 months of full-time work.</em> De facto this means that today
        the only people who can afford to bring up an issue before the Council or the voters are
        people with deep enough pockets to hire paid staff to collect signatures for them — so
        much for direct democracy.
      </p>

      <p class="section-text">
        Measure C aims to lower this nearly insurmountable barrier to citizen participation in
        local government by making the City Charter conform to the Iowa Code.
      </p>
    </section>
</div>
