
<div class="content">
  <section class="content-section">
      <!-- <h2 class="section-header">FIXME</h2> -->
      <p class="section-text">
        <em>Public Measure C is a local, Iowa City-only item on the Nov 8, 2016 general election ballot.</em>
        <!-- (see a <a href="/sample-ballot/">sample ballot</a>). -->
      </p>
  </section>
  <section class="content-section">
      <h2 class="section-header">Vote Early <span class="section-header-badge">Sep 29–Nov 7</span></h2>
      <p class="section-text">
        Anybody who is eligible to vote may vote early, and you can register to
        vote when you vote. There are three ways to vote early:
      </p>

      <ul class="section-text">
          <li><em>In person at the <a href="https://www.google.com/maps/place/Johnson+County+Auditor/@41.6507644,-91.5364864,17z/" target="_blank">Auditor's Office</a>, Monday through Friday, 7:45 AM–5:30 PM.</em></li>
          <li><em>In person at any of the <a href="http://www.johnson-county.com/dept_auditor.aspx?id=20969" target="_blank">satellite early voting locations around Johnson County</a>.</em></li>
          <li><em>By mail</em>, by sending a signed <a href="http://www.johnson-county.com/dept_auditor.aspx?id=14448" target="_blank">Absentee Ballot Request</a> to the Auditor's Office. If you're not yet registered to vote in Johnson County, you can send in your <a href="http://www.johnson-county.com/WorkArea/linkit.aspx?LinkIdentifier=id&ItemID=14245&libID=14254">voter registration application</a> at the same time, or <a href="https://mymvd.iowadot.gov/Account/Login?ReturnUrl=%2fVoterRegistration" target="_blank">register online</a>.</li>
      </ul>
  </section>
  <section class="content-section">
      <h2 class="section-header">Vote on Election Day <span class="section-header-badge">Nov 8</span></h2>
      <p class="section-text">
        Polls are open from 7 AM–9 PM. You can register to vote when you vote, but you'd need to bring
        your ID and proof of address (see below). <em>Note that many polling places have changed since the 2012
        presidential election</em>. You can find your polling place <a href="https://sos.iowa.gov/elections/voterreg/pollingplace/search.aspx" target="_blank">here</a>.
      </p>
  </section>

  <section class="content-section">
      <h2 class="section-header">ID Requirements</h2>

      <p class="section-text">
        <em>When voting in person ten days or less before the election (Oct 28–Nov 8),
          you will need to provide a photo ID and a proof of address if:</em>
      </p>
      <ul class="section-text">
        <li>You are not registered to vote in Johnson County, or </li>
        <li>You registered by mail and you did not include your Iowa driver's license number,
          Iowa non-operator's ID card number, or the last 4 digits of your Social
          Security number on your registration form.
        </li>
      </ul>

      <p class="section-text">
        A valid Iowa driver’s license with your current address is the easiest way to provide both.
        Other acceptable forms of ID are listed <a href="https://sos.iowa.gov/elections/voterinformation/edr.html" target="_blank">here</a>.
      </p>
    </section>

    <section class="info-section">
      <i class="info-icon lifesaver"></i>
      <p class="info-text">Questions? Call the Auditor's Office at <a href="tel:+1-319-356-6004" class="nowrap">319-356-6004</a>.</p>
    </section>

</div>
