<div class="content">
  <section class="content-section">
    {{#if requestSubmitted}}
        <h2 class="section-header">Thank you for your support, {{firstName}}!</h2>
        <div class="call-to-action">
            <p class="section-text">{{thankYou}}</p>
            <!-- <p class="section-text">If you can afford it, please consider making an in-kind contribution
                to our campaign to cover the cost of the yard signs. Checks can be mailed to:
            </p>
            <address class="content-address">
              Fix-the-charter.org<br>
              PO Box XXXX<br>
              Iowa City, IA 52244
            </address> -->
        </div>
    {{else}}
      <p class="section-text">
        Want a yard sign (or two)? We got them! Complete the form below &mdash;
        or email us at <a href="&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x79;&#x61;&#x72;&#x64;&#x73;&#x69;&#x67;&#x6E;&#x73;&#x40;&#x66;&#x69;&#x78;&#x2D;&#x74;&#x68;&#x65;&#x2D;&#x63;&#x68;&#x61;&#x72;&#x74;&#x65;&#x72;&#x2E;&#x6F;&#x72;&#x67;" class="nowrap">yardsigns@fix-the-charter.org</a> &mdash;
        and we'll bring them to you!
      </p>
      {{> yard-sign-form}}
    {{/if}}
  </secton>
</div>
