<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Strengthen our right to petition local government in Iowa City, vote 'Yes' on Public Measure C.">

    <!--  TODO -->
    <!-- <link rel="shortcut icon" href="/images/favicon.ico"> -->
    <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
    <link rel="canonical" href="http://fix-the-charter.org/">
    <link rel="shortlink" href="http://fix-the-charter.org/">

    <title>Vote 'Yes' on Public Measure C &mdash; Iowa City, 2016 General Election</title>

    <link href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" rel="stylesheet">
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->

    <link href="/webfonts.css" rel="stylesheet">
    <link href="/{{version}}/main.css" rel="stylesheet">
    <script src="/{{version}}/main.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {{> analytics}}
</head>
<body class="page-{{pageName}}">
{{> header}}
<div class="content-container">
  {{> social-sidebar}}
  {{{body}}}
</div>
{{> footer}}
</body>
</html>
